.navbar{
    background-color: #ff4081;
    color: white;
    padding: 1%;
}

.page{
    padding-bottom: 2%;
}

.cart{
    margin-left: 80%;
    background-color: white !important;
    color: #ff4081 !important;
}