button{
    width: auto;
    height: auto;
    padding: 2%;
    background-color: #ff4081 !important;
}

.button{
    width: auto;
    height: auto;
    padding: 2%;
}

.form{
    padding-top: 5%;
}

.add-button{
    width: 100%;
}

.qty{
    width: 30%;
    margin: 5%;
}

.error{
    color: red;
    font-weight: bold;
}